

body{
  font-family: sans-serif;
  top: 10%;
  
}

main
{
  padding-bottom: 150px;
}
header
{
  background-color: rgb(61, 55, 55);
  margin-bottom: 5%;
}

nav
{
  display: inline-block;
  position: absolute ;
  top: 0%;
  margin-left: 5%;
  
}


li
{
  display: inline-block;
}

li
{
  
  float: left;
  color: white;
  padding: 10px; margin: 4px; text-align: center;
  padding: 35px;
  
}


header img
{
  display: inline-block; margin: 2% 3% 1% 10%
}

main img
{
  margin-left: 12% ;
  display: inline-block ; 
  margin-top: -2%;
  
}

div img
{
  
  
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 5%;
  
}

section img
{
  display: inline-block;
  margin-left: 13.5%;
  margin-right: auto
}

article
{
  display: block;
  float: right;
  margin-top: -2%;
  margin-right: 10%
}

button
{
  background-color: black;
  color: white;
}

footer
{
  
  margin-top: -150px;
  background-color: rgb(61, 55, 55);

}