body {
  font-family: sans-serif;
  top: 10%;
}

main {
  
}
header {
  background-color: rgb(61, 55, 55);
  margin-bottom: 5%;
}

nav {
  display: inline-block;
  position: absolute;
  top: 0%;
  margin-left: 5%;
}

li {
  display: inline-block;
}

li {
  float: left;
  color: white;
  padding: 10px;
  margin: 4px;
  text-align: center;
  padding: 35px;
}

header img {
  display: inline-block;
  margin: 2% 3% 1% 10%;
}

main div:first-child img {
  display: block;
  margin: 0 auto;
}

main div:nth-child(2) {
  margin: 30px auto;
  width: fit-content;
}

main div:nth-child(2) img {
  margin: 0 15px;
}


section img {
  display: inline-block;
  margin: 0 480px 0 190px;
 /* margin-left: 13.5%;
  margin-right: auto;*/
}


article {
  display: block;
  margin: 0 0 100px 700px;
  margin-top: -28%;
  
  
  /*float: right;
  margin-top: -2%;
  margin-right: 10%;*/
}

 

button {
  background-color: black;
  color: white;
}

footer {
  color: #fff;
  text-align: center;
  background-color: rgb(61, 55, 55);
  padding: 45px;
  
}
